PORT=3000
FRONTEND_URL=http://localhost:5173
TMDB_API_KEY=MY_TMDB_API_KEY
AI_API_KEY=MY_OPEN_AI_API_KEY
AI_MODEL=gpt-4o-mini
BOOK_PREP_WEB_SEARCH_MODEL=gpt-4o-mini
DB_PATH=backend.db
STATIC_DIR=/app/public
IMAGE_QUALITY=80
IMAGE_MAX_DIMENSION=1200
IMAGE_QUALITY_THUMB=80
IMAGE_MAX_DIMENSION_THUMB=600
